.btn {
	color: var(--primary-color);
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid var(--primary-color);
	padding: 6px 14px;
	margin-top: 5px;
	line-height: 16px;
	border-radius: 20px;
  transition: all ease-in-out 6ms;
}
.btn:hover,.btn:focus {
	color: #fff;
	background: var(--primary-color);
	box-shadow: none;
}
.btn:active {
  border-color: var(--primary-color);
}


.product-skeleton {
  display: flex;
  background-color: #e9f1f6;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
  max-width: 900px;
  margin: auto;
}

.skeleton-image {
  width: 250px;
  height: 300px;
  border-radius: 8px;
  background: #ccc;
  animation: pulse 1.5s infinite;
}

.skeleton-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skeleton-title,
.skeleton-price,
.skeleton-rating,
.skeleton-button,
.skeleton-text {
  height: 20px;
  border-radius: 4px;
  background: #ccc;
  animation: pulse 1.5s infinite;
}

.skeleton-title {
  width: 60%;
  height: 24px;
}

.skeleton-price {
  width: 30%;
}

.skeleton-rating {
  width: 40%;
}

.skeleton-button {
  width: 100px;
  height: 30px;
  border-radius: 20px;
}

.skeleton-text {
  width: 90%;
  height: 14px;
}

.skeleton-text.short {
  width: 70%;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}