:root {
  --primary-color: rgb(237, 106, 15);
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --text-color: #333;
  --background-color:#e2eaef;
  --hover-primay-color:rgb(192, 78, 14);
}



body {
	background: var(--background-color);
	font-family: "Open Sans", sans-serif;
}


