<div class="container">
  <h2 class="mb-5">Carrito de compras</h2>

  <div class="row g-4">
    <!-- Productos -->
    <div class="col-lg-8">
      <div *ngIf="(cartItems$ | async)?.length === 0" class="alert alert-info">
        Tu carrito está vacío.
      </div>
      @for (cartItem of cartItems$ | async; track cartItem.product.id) {
        <app-cart-item [cartItem]="cartItem" ></app-cart-item>
      }

    </div>

    <!-- Resumen -->
    <div class="col-lg-4">
      <div class="card p-4">
        <h5 class="mb-3">Order summary</h5>
        <div class="d-flex justify-content-between">
          <span>Original price</span>
          <span>$7,592.00</span>
        </div>
        <div class="d-flex justify-content-between text-success">
          <span>Savings</span>
          <span>−$299.00</span>
        </div>
        <div class="d-flex justify-content-between">
          <span>Store Pickup</span>
          <span>$99</span>
        </div>
        <div class="d-flex justify-content-between">
          <span>Tax</span>
          <span>$799</span>
        </div>
        <hr>
        <div class="d-flex justify-content-between fw-bold">
          <span>Total</span>
          <span>$8,191.00</span>
        </div>
        <button class="btn btn-dark w-100 mt-3">Proceed to Checkout</button>
        <a href="#" class="d-block text-center mt-2 text-decoration-none">or Continue Shopping →</a>
      </div>
    </div>
  </div>
</div>